Main/CT.SRV/Service References/SimulatorServiceReference/SimService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CT.Contracts.SimDataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CT.Contracts.SimDataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4767/Services/SimService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CT.Common.Abstracts" />
  <xs:import schemaLocation="http://localhost:4767/Services/SimService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CT.Common.DTO_Models" />
  <xs:complexType name="RequestInitializeSimulator">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsWindowLoaded" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestInitializeSimulator" nillable="true" type="tns:RequestInitializeSimulator" />
  <xs:complexType name="ResponseInitializeSimulator">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/CT.Common.Abstracts" base="q1:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Timer" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseInitializeSimulator" nillable="true" type="tns:ResponseInitializeSimulator" />
  <xs:complexType name="ResponseFlightsCollection">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/CT.Common.Abstracts" base="q2:ResponseBase">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CT.Common.DTO_Models" minOccurs="0" name="Flights" nillable="true" type="q3:ArrayOfFlightDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseFlightsCollection" nillable="true" type="tns:ResponseFlightsCollection" />
  <xs:complexType name="RequestFlightObject">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CT.Common.DTO_Models" minOccurs="0" name="CurrentFlights" nillable="true" type="q4:ArrayOfFlightDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestFlightObject" nillable="true" type="tns:RequestFlightObject" />
  <xs:complexType name="ResponseFlightObject">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/CT.Common.Abstracts" base="q5:ResponseBase">
        <xs:sequence>
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CT.Common.DTO_Models" minOccurs="0" name="Flight" nillable="true" type="q6:FlightDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseFlightObject" nillable="true" type="tns:ResponseFlightObject" />
</xs:schema>