Main/CT.SRV/Service References/SimulatorServiceReference/SimService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4767/Services/SimService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CT.Contracts.SimDataContracts" />
  <xs:element name="InitializeSimulator">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CT.Contracts.SimDataContracts" minOccurs="0" name="req" nillable="true" type="q1:RequestInitializeSimulator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeSimulatorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CT.Contracts.SimDataContracts" minOccurs="0" name="InitializeSimulatorResult" nillable="true" type="q2:ResponseInitializeSimulator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlightsCollection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlightsCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CT.Contracts.SimDataContracts" minOccurs="0" name="GetFlightsCollectionResult" nillable="true" type="q3:ResponseFlightsCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlightObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CT.Contracts.SimDataContracts" minOccurs="0" name="req" nillable="true" type="q4:RequestFlightObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlightObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CT.Contracts.SimDataContracts" minOccurs="0" name="GetFlightObjectResult" nillable="true" type="q5:ResponseFlightObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnStart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isLoaded" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnStartResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>